body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Начальная непрозрачность */
}
body.fade-in {
    opacity: 1; /* Установка полной непрозрачности */
}
body.fade-out {
    opacity: 0;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
    padding: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.card img {
    max-width: 100%;
    border-radius: 4px;
}
.card h3 {
    margin: 16px 0;
}
.card p {
    margin: 8px 0;
}
button.rating-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: #007bff; /* Синий цвет */
    color: #fff; /* Белый цвет */
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: background-color 0.3s, width 0.3s, height 0.3s, top 0.3s, right 0.3s;
    z-index: 1000; /* Убедимся, что кнопка находится поверх других элементов */
    outline: none; /* Убираем стандартное обводку при фокусе */
    cursor: pointer;
}
button.rating-button i {
    font-size: 35px;
}
.table-container {
    text-align: center;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    overflow-x: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}
.star {
    color: gold;
    margin: 0 2px;
}
/* Современный стиль для кнопки "Отправить результат" */
#sendResultBtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 20px 0; /* Отступы сверху и снизу */
    text-align: center; /* Выравнивание текста по центру */
}
#sendResultBtn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
#sendResultBtn:active {
    background-color: #004080;
    transform: translateY(0);
}
/* Медиазапросы для мобильных устройств */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    .card {
        width: 100%;
    }
    .table-container {
        width: 100%;
        padding: 8px;
    }
    table, th, td {
        padding: 8px;
        font-size: 14px;
    }
    button.rating-button {
        width: 70px;
        height: 70px;
        top: 20px;
        right: 20px;
    }
    button.rating-button i {
        font-size: 35px;
    }
    /* Убираем выделение при нажатии на мобильных устройствах */
    .rating-button:active {
        -webkit-tap-highlight-color: transparent;
    }
}